@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes wrongInput {
  0% {
    left: 10%; }
  40% {
    left: -10%; }
  50% {
    left: 5%; }
  70% {
    left: -10%; }
  90% {
    left: 0; } }

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: "Orbitron", sans-serif;
  cursor: default; }

html {
  font-size: 70%;
  scroll-behavior: smooth; }
  @media screen and (max-width: 1000px) {
    html {
      font-size: 60%; } }
  @media screen and (max-width: 800px) {
    html {
      font-size: 55%; } }
  @media screen and (max-width: 700px) {
    html {
      font-size: 50%; } }
  @media screen and (max-width: 600px) {
    html {
      font-size: 45%; } }
  @media screen and (max-width: 500px) {
    html {
      font-size: 40%; } }
  @media screen and (max-width: 400px) {
    html {
      font-size: 35%; } }

body {
  box-sizing: border-box; }

html, body {
  overflow-x: hidden; }

.secondary__header {
  font-size: 9rem;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase; }
  .secondary__header-1 {
    color: #000; }
  .secondary__header-doubt {
    position: absolute;
    font-size: 5rem;
    top: -6%;
    left: 50%;
    transform: translate(35%, -100%);
    color: #fff;
    width: 100%; }
  .secondary__header-cad {
    color: #00d2ff; }

.header__primary {
  top: -50%;
  left: 0;
  transform: translate(0%, 80%);
  margin-right: 3.2rem;
  color: #fff; }
  .header__primary-title {
    font-size: 9rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1rem;
    display: block;
    animation: moveInRight 1s ease-out; }
    @media screen and (max-width: 500px) {
      .header__primary-title {
        font-size: 8rem; } }
  .header__primary-subtitle {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(26.5rem, -15rem);
    text-transform: uppercase; }
    @media screen and (max-width: 500px) {
      .header__primary-subtitle {
        transform: translate(23rem, -15rem); } }
  .header__primary-text {
    display: inline-block;
    font-size: 2.2rem;
    font-weight: 400;
    letter-spacing: 1px;
    max-width: 50rem;
    padding-bottom: 4rem;
    animation: moveInLeft 1s ease-out; }
  .header__primary-aling {
    margin-left: 12rem; }
    @media screen and (max-width: 500px) {
      .header__primary-aling {
        margin-left: 8rem; } }

.sobre__text-info {
  display: inline-block;
  font-size: 2rem;
  font-weight: 700;
  margin-left: 2rem;
  text-align: start; }

.description--title {
  position: absolute;
  top: 49rem;
  left: 145%;
  font-size: 5rem;
  color: #000;
  background-color: #0f9b0f;
  padding: 0 4rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem; }

.u-center {
  text-align: center !important; }

.u-margin-bottom-p {
  margin-bottom: 2rem !important; }

.u-margin-bottom-m {
  margin-bottom: 4rem !important; }

.u-margin-bottom-g {
  margin-bottom: 8rem !important; }

.u-margin-bottom-gg {
  margin-bottom: 16rem !important; }

.u-margin-top-p {
  margin-top: 1.5rem !important; }

.u-margin-top-m {
  margin-top: 3rem !important; }

.u-margin-top-g {
  margin-top: 6rem !important; }

.u-margin-top-gg {
  margin-top: 112em !important; }

.btn {
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  color: #fff; }
  .btn__header {
    animation: moveInBottom 1.2s ease-out;
    margin-top: 14rem; }
    .btn__header:link, .btn__header:visited {
      display: inline-block;
      padding: 1.5rem 2rem;
      font-size: 2.8rem;
      border-radius: 10rem;
      margin-left: 0;
      margin-right: 6rem;
      transition: all 0.4s; }
      @media screen and (max-width: 500px) {
        .btn__header:link, .btn__header:visited {
          font-size: 2.5rem; } }
    .btn__header:hover, .btn__header:active {
      background-color: #fff;
      color: #000;
      transition: all 0.3s;
      cursor: crosshair;
      transform: translateY(-2rem); }
    .btn__header-blue {
      background-color: #0047ab; }
    .btn__header-white {
      background-color: #777; }
  .btn__price {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: #fff;
    padding: 1.5rem; }
    @media screen and (max-width: 600px) {
      .btn__price {
        padding: 1rem; } }
    .btn__price:link, .btn__price:visited {
      display: block;
      color: black;
      font-size: 2rem;
      border-radius: 2rem; }
      @media screen and (max-width: 600px) {
        .btn__price:link, .btn__price:visited {
          font-size: 1.5rem; } }
    .btn__price-1:hover, .btn__price-1:active {
      background-color: #630330;
      color: #fff; }
    .btn__price-2:hover, .btn__price-2:active {
      background-color: #0047ab;
      color: #fff; }
    .btn__price-3:hover, .btn__price-3:active {
      background-color: #023020;
      color: #fff; }
  .btn--form {
    display: block;
    left: 95%;
    top: 100%;
    background-color: #fff;
    padding: 1.5rem;
    width: 20rem;
    border-radius: 5rem;
    background-color: #1A2980;
    font-size: 2rem;
    transition: all 0.3s; }
    .btn--form:hover {
      scale: 1.2;
      background-color: #26D0CE;
      color: #000;
      font-size: 2rem; }

.form__btn-wait {
  font-size: 3rem;
  align-self: center;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
  cursor: not-allowed;
  border: none;
  color: #EB3349;
  border-radius: 2rem;
  transition: all .4s linear; }
  @media screen and (max-width: 600px) {
    .form__btn-wait {
      padding: 2rem 5rem;
      font-size: 6rem;
      border: 2px solid #000; } }
  @media screen and (max-width: 1250px) {
    .form__btn-wait {
      font-size: 2rem; } }

.price {
  background-image: url(../imgs/Background-photo-prices.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 12rem;
  height: 110vh; }
  @media screen and (max-width: 800px) {
    .price {
      height: 100vh; } }
  @media screen and (max-width: 600px) {
    .price {
      height: 80vh; } }
  @media screen and (max-width: 500px) {
    .price {
      height: 60vh;
      margin-top: -6rem; } }
  .price__title {
    color: #fffdd0; }

.card {
  position: relative;
  height: 45rem; }
  @media screen and (max-width: 600px) {
    .card {
      height: 50rem; } }
  .card__heading {
    text-transform: uppercase; }
    .card__heading-span-title {
      font-size: 6rem;
      display: block;
      position: absolute;
      top: 10%;
      left: 15%; }
      @media screen and (max-width: 1250px) {
        .card__heading-span-title {
          font-size: 5rem; } }
      @media screen and (max-width: 1000px) {
        .card__heading-span-title {
          font-size: 4rem; } }
      @media screen and (max-width: 600px) {
        .card__heading-span-title {
          font-size: 3.5rem; } }
      @media screen and (max-width: 500px) {
        .card__heading-span-title {
          font-size: 3rem; } }
      .card__heading-span-title-1 {
        background-image: linear-gradient(to right, #ff9966, #ff5e62);
        -webkit-background-clip: text;
        color: transparent; }
      .card__heading-span-title-2 {
        background-image: linear-gradient(to right, #fff, #34e89e);
        -webkit-background-clip: text;
        color: transparent; }
      .card__heading-span-title-3 {
        background-image: linear-gradient(to right, #00d2ff, #3a7bd5);
        -webkit-background-clip: text;
        color: transparent; }
    .card__heading-span-type {
      font-size: 3rem;
      font-family: "Gill Sans MT", sans-serif;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 2rem;
      letter-spacing: 1rem; }
      @media screen and (max-width: 1000px) {
        .card__heading-span-type {
          font-size: 2rem; } }
      .card__heading-span-type-1 {
        background-image: linear-gradient(to right, #ff9966, #ff5e62);
        -webkit-background-clip: text;
        color: transparent; }
      .card__heading-span-type-2 {
        background-image: linear-gradient(to right, #fff, #34e89e);
        -webkit-background-clip: text;
        color: transparent; }
      .card__heading-span-type-3 {
        background-image: linear-gradient(to right, #00d2ff, #fff);
        -webkit-background-clip: text;
        color: transparent; }
    .card__heading-span-description {
      font-size: 12px;
      width: 100%;
      position: absolute;
      top: 90%;
      left: 70%;
      transform: translate(-50%, -50%); }
      @media screen and (max-width: 1250px) {
        .card__heading-span-description {
          left: 60%;
          font-size: 1rem; } }
      @media screen and (max-width: 600px) {
        .card__heading-span-description {
          font-size: 0.8rem;
          left: 65%; } }
      @media screen and (max-width: 500px) {
        .card__heading-span-description {
          font-size: 0.7rem; } }
      .card__heading-span-description-2 {
        color: #fff; }
      .card__heading-span-description-3 {
        color: #fff; }
  .card__side {
    position: absolute;
    height: 45rem;
    transition: all 0.8s ease;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 2rem;
    overflow: hidden; }
    .card__side--front-1 {
      box-shadow: 0rem 0rem 4rem #ff7730; }
    .card__side--front-2 {
      box-shadow: 0rem 0rem 4rem #7fffd4; }
    .card__side--front-3 {
      box-shadow: 0rem 0rem 4rem #4169e1; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to left top, #ff9966, #ff5e62); }
      .card__side--back-2 {
        background-image: linear-gradient(to left top, #34e89e, #0f3443); }
      .card__side--back-3 {
        background-image: linear-gradient(to left top, #00d2ff, #3a7bd5); }
  .card__picture {
    background-size: cover;
    background-blend-mode: screen;
    height: 45rem; }
    .card__picture--1 {
      background-image: url(../imgs/photo-price-1.jpg);
      background-position: center; }
    .card__picture--2 {
      background-image: url(../imgs/photo-price-2.jpg);
      background-position: center; }
    .card__picture--3 {
      background-image: url(../imgs/photo-price-3.jpg);
      background-position: center; }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__details {
    text-transform: uppercase;
    letter-spacing: 1rem; }
    .card__details--net {
      position: absolute;
      top: 12%;
      color: #000;
      font-weight: 700;
      font-size: 2.5rem;
      width: 100%;
      display: inline-block;
      white-space: nowrap;
      text-align: center; }
      @media screen and (max-width: 1000px) {
        .card__details--net {
          top: 5%;
          font-size: 2rem; } }
      @media screen and (max-width: 600px) {
        .card__details--net {
          font-size: 1.5rem; } }
      @media screen and (max-width: 500px) {
        .card__details--net {
          font-size: 1.25rem; } }
    .card__details--valor-cont {
      position: absolute;
      top: 70%;
      left: 14%;
      font-size: 2rem; }
      @media screen and (max-width: 600px) {
        .card__details--valor-cont {
          font-size: 1rem; } }
    .card__details--valor-price {
      position: absolute;
      top: 75%;
      left: 30%;
      font-size: 2rem; }
      @media screen and (max-width: 1000px) {
        .card__details--valor-price {
          left: 20%; } }
      @media screen and (max-width: 600px) {
        .card__details--valor-price {
          font-size: 1rem; } }
    .card__details--valor-display {
      position: absolute;
      top: 80%;
      left: 60%;
      font-size: 1rem; }
      @media screen and (max-width: 1000px) {
        .card__details--valor-display {
          left: 50%; } }
      @media screen and (max-width: 600px) {
        .card__details--valor-display {
          left: 45%;
          font-size: 1rem; } }
      @media screen and (max-width: 500px) {
        .card__details--valor-display {
          font-size: 0.7rem; } }
  .card ul {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    width: 100%;
    margin: 0 auto; }
    .card ul li {
      text-align: center;
      font-size: 1.5rem;
      padding: 1rem;
      color: white; }
      @media screen and (max-width: 600px) {
        .card ul li {
          font-size: 1.2rem; } }
      .card ul li:not(:last-child) {
        border-bottom: 2px solid #777; }

.header {
  height: 100vh;
  width: 100vw; }
  @media screen and (max-width: 600px) {
    .header {
      height: 80vh; } }
  @media screen and (max-width: 500px) {
    .header {
      height: 45vh; } }

.header__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden; }
  .header__background-video {
    object-fit: cover; }

.footer {
  background-color: #111;
  padding: 2rem;
  font-size: 2rem;
  color: #ffffff;
  width: 100%; }
  @media screen and (max-width: 500px) {
    .footer {
      font-size: 1.8rem; } }
  @media screen and (max-width: 600px) {
    .footer__logo {
      width: 100%; } }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 5rem; }
  .footer__navigation {
    border-top: 6px solid #26D0CE;
    padding-top: 2rem;
    display: inline-block;
    width: 100%; }
  .footer__list {
    list-style: none;
    display: inline-block;
    white-space: nowrap; }
  .footer__item {
    display: inline-block;
    margin-right: 8rem; }
    @media screen and (max-width: 800px) {
      .footer__item {
        margin-right: 5rem; } }
    @media screen and (max-width: 700px) {
      .footer__item {
        margin-right: 3rem; } }
    @media screen and (max-width: 600px) {
      .footer__item {
        margin-right: 1rem; } }
  .footer__link {
    cursor: pointer;
    position: relative; }
    .footer__link:link, .footer__link:visited {
      text-decoration: none;
      color: #fff; }
    .footer__link:hover, .footer__link:active {
      color: #00d2ff; }

.form {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../imgs/_fd5daa57-0058-4009-83e0-381af062c621.jpeg);
  display: grid;
  grid-template-columns: repeat(10, 10vw);
  grid-template-rows: repeat(12, 10vh);
  height: 100%; }
  @media screen and (max-width: 600px) {
    .form {
      grid-template-rows: repeat(12, 8vh); } }
  .form__Title {
    font-size: 6rem;
    text-transform: uppercase;
    grid-column: 1 / 10;
    margin-left: 10vw;
    text-align: center;
    color: #fff; }
  .form__cadastro {
    grid-column: 4 / 8;
    background-image: linear-gradient(to right bottom, #0a1172, #1520a6, #0492c2);
    grid-row: 2 / 12;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .form__cadastro-fix {
      background-image: linear-gradient(to right bottom, #0a1172, #1520a6, #0492c2);
      height: 100%;
      border-radius: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
    @media screen and (max-width: 1250px) {
      .form__cadastro {
        grid-row: 3 / 12; } }
    @media screen and (max-width: 600px) {
      .form__cadastro {
        grid-row: 2 / 11;
        grid-column: 3 / 9; } }
    @media screen and (max-width: 400px) {
      .form__cadastro {
        grid-row: 2 / 9;
        grid-column: 3 / 9; } }
    .form__cadastro-CheckBox {
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
    .form__cadastro-input {
      position: relative;
      background-color: transparent;
      border: none;
      margin: 2rem 12rem;
      padding: 2rem 2rem;
      font-size: 2rem;
      transition: all .4s ease-in;
      color: #fff;
      border-bottom: 3px solid #EB3349;
      cursor: pointer; }
      @media screen and (max-width: 1000px) {
        .form__cadastro-input {
          margin: 0 5rem;
          text-align: center; } }
      .form__cadastro-input:last-child {
        margin-bottom: 10rem; }
      .form__cadastro-input:focus {
        background-color: transparent;
        outline: none;
        border-bottom: 3px solid #4169e1; }
      .form__cadastro-input-CheckBox {
        height: 1.5rem;
        width: 1.5rem;
        margin-top: 3rem;
        outline: none;
        text-align: center; }
        .form__cadastro-input-CheckBox_Text {
          text-align: center;
          font-size: 1.25rem;
          color: #fff; }
      .form__cadastro-input-wrong {
        animation: wrongInput 1s; }
      .form__cadastro-input-accept {
        border-bottom: 4px solid #34e89e; }
      .form__cadastro-input__highlight {
        margin-left: .5rem;
        cursor: pointer;
        color: #fff; }
  .form__btn {
    font-size: 4rem;
    align-self: center;
    margin-bottom: 2rem;
    padding: 1rem 5rem;
    background-color: #1520a6;
    border-radius: 2rem;
    transition: all .4s linear; }
    @media screen and (max-width: 600px) {
      .form__btn {
        padding: 2rem 5rem;
        font-size: 6rem;
        border: 2px solid #000; } }
    @media screen and (max-width: 1250px) {
      .form__btn {
        font-size: 2rem; } }
    .form__btn:hover {
      transform: translateY(-2rem);
      background-color: #26D0CE; }

input[type="number"] {
  -moz-appearance: textfield; }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none; }

input[type="data"] {
  -moz-appearance: textfield; }

input[type="data"]::-webkit-outer-spin-button,
input[type="data"]::-webkit-inner-spin-button {
  -webkit-appearance: none; }

.input__highlight:link,
.input__highlight:visited,
.input__highlight:active {
  color: #fff; }

::placeholder {
  color: #fff; }

.LoginInfo {
  background-image: url(../../imgs/denys-churchyn-Kwmz_c_NiYk-unsplash.jpg);
  background-size: 100vh;
  height: 85vh; }
  @media screen and (max-width: 800px) {
    .LoginInfo {
      height: 60vh; } }
  @media screen and (max-width: 400px) {
    .LoginInfo {
      height: 50vh; } }
  @media screen and (max-width: 500px) {
    .LoginInfo {
      height: 38vh; } }

.Login__Img1 {
  grid-column: 1;
  position: absolute;
  bottom: 10%;
  margin-left: 2rem;
  height: 6rem; }
  @media screen and (max-width: 800px) {
    .Login__Img1 {
      bottom: 35%; } }
  @media screen and (max-width: 600px) {
    .Login__Img1 {
      bottom: 50%; } }
  @media screen and (max-width: 500px) {
    .Login__Img1 {
      bottom: 60%; } }

.Login__Img2 {
  grid-column: 8;
  grid-row: 1;
  height: 6rem; }

.Login__Acc {
  display: grid;
  grid-template-columns: repeat(8, 12.5vw);
  grid-template-rows: repeat(2, 20vh); }

.Login__Title {
  font-size: 4rem;
  text-align: start;
  border-top: 4px solid #00d2ff;
  color: #fff;
  padding-left: 2rem;
  padding-bottom: 2rem;
  text-transform: uppercase; }

.Login__Info {
  font-size: 2rem;
  grid-column: 3 / 8;
  color: #fff; }

.Login__Type-Info {
  display: flex;
  padding: 2rem; }
  @media screen and (max-width: 1100px) {
    .Login__Type-Info {
      flex-wrap: wrap;
      padding: 1rem; } }

.Login__Text-Info {
  text-transform: uppercase;
  margin-right: 1rem; }

.Login__Text-Display {
  letter-spacing: .2rem; }
  @media screen and (max-width: 1250px) {
    .Login__Text-Display {
      display: inline-block;
      white-space: nowrap; } }

.Login__Text-Change {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  text-decoration: none;
  margin-left: 1rem;
  color: #00d2ff;
  cursor: pointer; }
  @media screen and (max-width: 1250px) {
    .Login__Text-Change {
      display: inline-block;
      white-space: nowrap; } }

.Login__Plan {
  height: 80vh; }
  @media screen and (max-width: 1250px) {
    .Login__Plan {
      height: 90vh; } }
  @media screen and (max-width: 800px) {
    .Login__Plan {
      height: 70vh; } }
  @media screen and (max-width: 500px) {
    .Login__Plan {
      height: 38vh; } }
  @media screen and (max-width: 400px) {
    .Login__Plan {
      height: 35vh; } }
  .Login__Plan-MainTitle {
    font-size: 4rem;
    border-top: 4px solid #00d2ff;
    text-align: end;
    padding-right: 2rem;
    padding-bottom: 2rem;
    text-transform: uppercase; }
  .Login__Plan-Display {
    text-align: center; }
  .Login__Plan-Title {
    font-size: 5rem;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #ff7730, #34e89e);
    -webkit-background-clip: text;
    color: transparent; }
  .Login__Plan-Subtitle {
    font-size: 5rem;
    background-image: linear-gradient(to right, #0f9b0f, #34e89e);
    -webkit-background-clip: text;
    color: transparent; }
  .Login__Plan-Mega {
    font-size: 3.5rem; }
  .Login__Plan-Valor {
    font-size: 4rem;
    color: #34e89e; }
  .Login__Plan-Atraso {
    font-size: 4rem;
    color: #EB3349; }
  .Login__Plan-Boleto:visited, .Login__Plan-Boleto:link {
    font-size: 4rem;
    text-decoration: none;
    padding: 1rem;
    background-color: #000;
    border-radius: 2rem;
    color: white;
    cursor: pointer; }

.Login__Doubt {
  background-color: #111; }
  .Login__Doubt-Title {
    font-size: 4rem;
    text-transform: uppercase;
    margin-top: 2rem;
    border-top: 4px solid #00d2ff;
    padding-left: 2rem;
    color: #fff; }
  .Login__Doubt-Place {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .Login__Doubt-Text {
    background-color: #111;
    font-size: 2rem;
    text-transform: uppercase;
    color: #fff;
    border: none;
    width: 60rem;
    padding: 2rem;
    border-bottom: 4px solid #00d2ff;
    margin-bottom: 2rem;
    outline: none; }
  .Login__Doubt-Description {
    resize: none;
    font-size: 2rem;
    outline: none;
    width: 90vw;
    height: 30rem;
    border-radius: 1rem;
    border: 4px solid #00d2ff;
    margin-bottom: 2rem;
    color: #000;
    text-align: justify; }
  .Login__Doubt-Send {
    font-size: 4rem;
    padding: 1.5rem 5.5rem;
    background-color: #00d2ff;
    border: none;
    cursor: pointer;
    border-radius: 2rem;
    margin-bottom: 3rem; }

.Popup__BackgroundBlur {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 1000rem;
  width: 1000rem;
  background-color: rgba(17, 17, 17, 0.8);
  filter: blur(10px);
  z-index: 2;
  overflow: visible; }

.Popup {
  position: fixed;
  z-index: 4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 75vh;
  width: 70vw;
  overflow: visible;
  background-color: rgba(15, 52, 67, 0.99);
  box-shadow: 0 0 24rem #0047ab;
  filter: none;
  color: #fff;
  border-radius: 2rem; }
  @media screen and (max-width: 1250px) {
    .Popup {
      height: 85vh; } }
  @media screen and (max-width: 700px) {
    .Popup {
      height: 60vh; } }
  @media screen and (max-width: 400px) {
    .Popup {
      height: 50vh; } }
  .Popup__Layout {
    display: flex;
    flex-direction: column; }
  .Popup__Close {
    position: relative;
    background-color: #000;
    padding: 1rem 1.5rem;
    margin-left: 2rem;
    margin-top: 2rem;
    border: none;
    font-size: 2rem;
    border-radius: 12rem;
    left: 90%;
    cursor: pointer;
    color: #fff;
    transition: all .4s; }
    .Popup__Close:hover {
      top: -.5%;
      transform: scale(1.1); }
  .Popup__Info {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-size: 3rem; }
    .Popup__Info-red {
      color: #EB3349; }
    .Popup__Info-green {
      color: #98FB98; }
  .Popup__NewInfo {
    font-size: 3rem;
    text-align: center;
    border: none;
    outline: none;
    border-bottom: 4px solid #00d2ff;
    border-top: 4px solid #34e89e;
    margin-bottom: 2rem;
    border-radius: 2rem; }
  .Popup__ConfirmBtn {
    border-radius: 4rem;
    padding: 2rem 6rem;
    position: relative;
    font-size: 3rem;
    border: none;
    cursor: pointer;
    background-color: #26D0CE;
    left: 50%;
    transform: translate(-50%); }
    .Popup__ConfirmBtn:hover {
      top: -.5%; }
    .Popup__ConfirmBtn-wrong {
      background-color: red; }

.login__pg {
  display: grid;
  background-image: url(./../../imgs/_54537e74-b897-4ab3-8549-7226a226a651.jpeg);
  grid-template-columns: repeat(12, 8.333vw);
  grid-template-rows: repeat(14, 7.15vh); }

.form__pg-input {
  font-size: 3rem;
  padding: 0.5rem;
  text-align: center;
  margin: 3rem 0;
  border-radius: 6rem;
  border-color: #1CB5E0;
  border-width: 1rem; }
  .form__pg-input:focus {
    outline: none;
    border-color: #00d2ff; }

.form__pg-btn {
  margin-top: 2.5rem;
  font-size: 2.5rem;
  padding: 1.5rem 4rem;
  border: none;
  border-radius: 1rem;
  background-color: #000;
  margin-bottom: 6rem;
  transition: all .6s; }
  .form__pg-btn:hover {
    background-color: #00d2ff;
    color: #000;
    top: -5%;
    transform: scale(1.1); }

.form__pg-type {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: -2rem;
  color: #fff; }
  .form__pg-type-wrong {
    color: #EB3349; }
  .form__pg-type-error {
    font-size: 3rem;
    color: #EB3349;
    text-transform: uppercase;
    text-align: center;
    margin-top: 2rem; }

.form__pg-nav {
  margin-top: -1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.form__pg-singup {
  font-size: 2rem;
  color: #26D0CE;
  border-bottom: 2px solid #26D0CE; }

.form__pg-forgot {
  font-size: 2rem;
  color: #98FB98;
  border-bottom: 2px solid #98FB98; }

.login__pg-back {
  background-image: linear-gradient(to right, #0F2027, #203A43, #2C5364);
  display: flex;
  flex-direction: column;
  grid-column: 4 / 10;
  grid-row: 2 / 13;
  border-radius: 2rem; }

.row {
  max-width: 95vw;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.sobre {
  background-color: #fff;
  height: 100vh;
  margin-bottom: 5rem;
  width: 100vw;
  overflow: hidden; }
  @media screen and (max-width: 700px) {
    .sobre {
      height: 70vh; } }
  @media screen and (max-width: 500px) {
    .sobre {
      height: 40vh; } }
  @media screen and (max-width: 400px) {
    .sobre {
      height: 35vh; } }
  .sobre__baixo-ilustra-photo {
    display: inline-block;
    transition: all 0.4s;
    margin-right: 1rem;
    transform: scale(1.4); }
    @media screen and (max-width: 1000px) {
      .sobre__baixo-ilustra-photo {
        margin-left: -4rem;
        transform: scale(1.1); } }
    @media screen and (max-width: 800px) {
      .sobre__baixo-ilustra-photo {
        margin-left: -12rem;
        transform: scale(1); } }
    @media screen and (max-width: 700px) {
      .sobre__baixo-ilustra-photo {
        margin-left: -16rem;
        transform: scale(0.8); } }
    @media screen and (max-width: 600px) {
      .sobre__baixo-ilustra-photo {
        margin-left: -22rem; } }
    @media screen and (max-width: 500px) {
      .sobre__baixo-ilustra-photo {
        transform: scale(0.6);
        margin-left: -30rem;
        margin-top: -16rem; } }
    @media screen and (max-width: 400px) {
      .sobre__baixo-ilustra-photo {
        transform: scale(0.5);
        margin-left: -35rem;
        margin-top: -16rem; } }
  @media screen and (max-width: 1250px) {
    .sobre__text-info {
      font-size: 1.7rem; } }
  @media screen and (max-width: 700px) {
    .sobre__text-info {
      font-size: 1.5rem; } }
  @media screen and (max-width: 500px) {
    .sobre__text-info {
      font-size: 1.1rem; } }

.nav {
  background-color: #000;
  padding: 1.5rem 3rem;
  display: flex;
  justify-content: space-between;
  overflow: hidden; }

.main__nav-link {
  text-decoration: none;
  font-size: 2.5rem;
  transition: all 0.4s;
  padding: 2rem 3rem; }
  @media screen and (max-width: 700px) {
    .main__nav-link {
      font-size: 2rem; } }
  @media screen and (max-width: 500px) {
    .main__nav-link {
      font-size: 1.5rem; } }
  .main__nav-link:hover {
    background-color: white;
    color: black; }
  .main__nav-link-cadastro:hover {
    color: #fff;
    background-image: linear-gradient(to right bottom, #000046, #1CB5E0); }
  .main__nav-link-login:hover {
    color: #fff;
    background-image: linear-gradient(to right bottom, #0F2027, #2C5364); }
