.u-center {
  text-align: center !important;
}

//Margin baixo
.u-margin-bottom-p {
  margin-bottom: 2rem !important;
}
.u-margin-bottom-m {
  margin-bottom: 4rem !important;
}
.u-margin-bottom-g {
  margin-bottom: 8rem !important;
}
.u-margin-bottom-gg {
  margin-bottom: 16rem !important;
}

//Margin top
.u-margin-top-p {
  margin-top: 1.5rem !important;
}
.u-margin-top-m {
  margin-top: 3rem !important;
}
.u-margin-top-g {
  margin-top: 6rem !important;
}
.u-margin-top-gg {
  margin-top: 112em !important;
}
